<link rel="stylesheet" href="/styles/index.css" type="text/css" />
<link rel="stylesheet" href="/styles/messages.css" type="text/css" />
<link rel="stylesheet" href="/styles/session.css" type="text/css" />
<link rel="stylesheet" href="/styles/card.css" type="text/css" />
<link rel="stylesheet" href="/styles/users.css" type="text/css" />
<link rel="stylesheet" href="/styles/products.css" type="text/css" />
<link rel="stylesheet" href="/styles/order.css" type="text/css" />
<link rel="stylesheet" href="/styles/cart.css" type="text/css" />
<link rel="stylesheet" href="/styles/dropdown.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">